<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in Screen</title>
    <style>

        </style>

    </head>
    <body>
    <h1>Authenticate</h1><hr>

<!--    action="http://localhost:8080/login" method="post"-->

    <form id = "loginFrom" >
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <button type="submit">Submit</button>
    </form>

    <!--    -->
    <script> src="login.js" </script>

    <div class="signup">
        <p> <a th:href="@{/signup}">Don't have an account?</a> </p>
    </div>

    </body>
    </html>