
<settings>
<servers>
    <!-- Nexus credentials -->
    <server>
        <id>nexus</id>
        <username>common-models-user</username>
        <password>build49</password>
    </server>
</servers>

<profiles>
    <profile>
        <id>nexus</id>
        <repositories>
            <repository>
                <id>nexus</id>
                <url>http://nexus:8081/repository/maven-releases/</url> <!-- Correct Nexus URL -->
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
            </repository>
        </repositories>
        <pluginRepositories>
            <pluginRepository>
                <id>nexus</id>
                <url>http://nexus:8081/repository/maven-releases/</url> <!-- Correct Nexus URL -->
            </pluginRepository>
        </pluginRepositories>
    </profile>
</profiles>

<activeProfiles>
    <activeProfile>nexus</activeProfile>
</activeProfiles>
</settings>