<settings>
    <servers>
        <server>
            <id>nexus</id>
            <username>admin</username>
            <password>password</password>
        </server>
    </servers>

    <mirrors>
      <mirror>
        <id>nexus</id>
        <mirrorOf>*</mirrorOf>
        <url>http://host.docker.internal:8083/repository/maven-public/</url>
      </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>nexus</id>
                    <url>http://host.docker.internal:8083/repository/maven-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>allow-http</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <maven.wagon.http.ssl.insecure>true</maven.wagon.http.ssl.insecure>
                <maven.wagon.http.ssl.allowall>true</maven.wagon.http.ssl.allowall>
            </properties>
        </profile>
    </profiles>

</settings>

<!--            <pluginRepositories>-->
<!--                <pluginRepository>-->
<!--                    <id>nexus</id>-->
<!--                    <url>http://localhost:8083/repository/maven-releases/</url>-->
<!--                </pluginRepository>-->
<!--            </pluginRepositories>-->